:root {
	--mainTextColor: #212121;
	--secondaryTextColor: #757575;
	--mainBgColor: #2F303A;
	--secondaryBgColor: #F5F4FA;
	--interactiveColor: #2196F3;
	--colorWhite: #fff;
	--containerWidth: 1170px;
	--textLetterSpacing: 0.03em;
	--animation: cubic-bezier(0.4, 0, 0.2, 1);
	--animationTime: 250ms;
}