.projects {
	&__navigation {
		margin-bottom: 50px;
	}
}

.projects-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.projects-item {
	width: 100%;
	max-width: 370px;
	background-color: var(--colorWhite);
	position: relative;

	&__wrapper {
		padding: 20px 24px;
		border: 1px solid #EEEEEE;
	}

	&__poster {
		display: block;
		transition: box-shadow var(--animationTime) var(--animation);

		&:hover,
		&:focus {
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

			.projects-item__animated-block {
				transform: translateY(0);
			}
		}
	}


	&__media {
		position: relative;
		overflow: hidden;
	}

	&__animated-block {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: rgba(33, 150, 243, 0.9);
		padding: 63px 24px;
		transform: translateY(101%);
		transition: transform var(--animationTime) var(--animation);

		& p {
			font-size: 18px;
			line-height: 1.56;
			letter-spacing: var(--textLetterSpacing);
			color: var(--colorWhite);
		}
	}

	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 2;
		margin-bottom: 4px;
		letter-spacing: 0.06em;
		color: var(--mainTextColor)
	}

	&__category {
		font-weight: 400;
		font-size: 16px;
		line-height: 1.9;
		letter-spacing: var(--textLetterSpacing);
		color: var(--secondaryTextColor);
	}
}