.promo {
	padding: 118px 40px;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/promo-bj.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
		.box {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/promo-bj-2x.jpg);
		}
	}

	@media screen and (min-width: 1200px) {
		padding: 200px 0;
	}

	&__wrapper {
		max-width: 400px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media screen and (min-width: 1200px) {
			max-width: 800px;
		}
	}

	&__title {
		font-weight: 900;
		font-size: 26px;
		line-height: 1.61;
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: var(--colorWhite);
		margin-bottom: 30px;

		@media screen and (min-width: 1200px) {
			font-size: 44px;
			line-height: 1.36;
		}
	}
}